.navbar,
.in-jumbo,
.in-invite1,
.in-invite2,
.in-comm1,
.in-comm2,
.in-fandom1,
.in-fandom2,
.in-tech,
.in-up-foot1,
.in-up-foot2,
.in-up-foot3,
.in-up-foot4,
.in-up-foot5,
.down-footer,
.down-logo,
.down-btn {
    border: 1px dashed black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ds-header-bg: cyan;
    --ds-header-up: orange;
    --ds-jumbotron-bg: blue;
    --ds-in-jubmbo-bg: pink;
    --ds-invite-bg: white;
    --ds-in-invite1: cyan;
    --ds-in-invite2: pink;
    --ds-community-bg: lightgray;
    --ds-in-comm1: pink;
    --ds-in-comm2: cyan;
    --ds-technology-bg: lightgray;
    --ds-in-tech: green;
    --ds-footer-bg: rgb(44, 44, 44);
    --ds-in-up-foot-1: pink;
    --ds-in-up-foot-2: cyan;
    --ds-in-up-foot-3: cyan;
    --ds-in-up-foot-4: cyan;
    --ds-in-up-foot-5: cyan;
    --ds-down-foot: lightblue;
    --ds-down-logo: pink;
    --ds-down-btn: pink;
}

body,
html {
    width: 100%;
}

.d-flex {
    display: flex;
}

header {
    background-color: var(--ds-header-bg);
    justify-content: center;
    padding: 1rem;

    .navbar {
        justify-content: space-between;
        align-items: center;
        background-color: var(--ds-header-up);
        padding: 0.2rem 1rem;
    }

    .nav-links {
        list-style: none;
        padding: 0.2rem;
    }

    .nav-links,
    a {
        text-decoration: none;
        padding: 0.2rem;
    }
}

.jumbotron {
    background-color: var(--ds-jumbotron-bg);
    padding: 3rem 2rem;
    justify-content: center;
    min-height: 15rem;

    .in-jumbo {
        width: 80%;
        min-height: 1rem;
        background-color: var(--ds-in-jubmbo-bg);
        justify-content: center;
        align-items: center;
    }
}

.invite-only {
    background-color: var(--ds-invite-bg);
    padding: 1rem;
    justify-content: center;
    min-height: 15rem;

    .in-invite {
        width: 80%;
    }

    .in-invite1 {
        flex-grow: 2;
        min-height: 10rem;
        background-color: var(--ds-in-invite1);
        justify-content: center;
        align-items: center;
    }

    .in-invite2 {
        background-color: var(--ds-in-invite2);
        min-height: 10rem;
        flex-grow: 1;
    }
}

.community {
    background-color: var(--ds-community-bg);
    padding: 1rem;
    justify-content: center;
    min-height: 15rem;

    .in-comm {
        width: 80%;
    }

    .in-comm1 {
        flex-grow: 1;
        min-height: 10rem;
        background-color: var(--ds-in-comm1);
        justify-content: center;
        align-items: center;
    }

    .in-comm2 {
        background-color: var(--ds-in-comm2);
        min-height: 10rem;
        flex-grow: 2;
    }
}

.fandom {
    background-color: var(--ds-invite-bg);
    padding: 1rem;
    justify-content: center;
    min-height: 15rem;

    .in-fandom {
        width: 80%;
    }

    .in-fandom1 {
        flex-grow: 2;
        min-height: 10rem;
        background-color: var(--ds-in-invite1);
        justify-content: center;
        align-items: center;
    }

    .in-fandom2 {
        background-color: var(--ds-in-invite2);
        min-height: 10rem;
        flex-grow: 1;
    }
}

.technology {
    background-color: var(--ds-technology-bg);
    padding: 3rem 2rem;
    justify-content: center;
    min-height: 25rem;

    .in-tech {
        width: 80%;
        min-height: 1rem;
        background-color: var(--ds-in-tech);
        justify-content: center;
        align-items: center;
    }
}

.site-up-footer {
    background-color: var(--ds-footer-bg);
    padding: 1rem;
    min-height: 15rem;
    justify-content: center;

    .up-footer {
        width: 80%;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 13rem;

        .in-up-foot1 {
            flex-grow: 2;
            background-color: var(--ds-in-up-foot-1);
            justify-content: center;
            align-items: center;
        }

        .in-up-foot2 {
            background-color: var(--ds-in-up-foot-2);
            flex-grow: 1;
        }

        .in-up-foot3 {
            background-color: var(--ds-in-up-foot-3);
            flex-grow: 1;
        }

        .in-up-foot4 {
            background-color: var(--ds-in-up-foot-4);
            flex-grow: 1;
        }

        .in-up-foot5 {
            background-color: var(--ds-in-up-foot-5);
            flex-grow: 1;
        }
    }
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--ds-technology-bg);
    margin: 0;
}

.site-down-footer {
    background-color: var(--ds-footer-bg);
    justify-content: center;
    min-height: 5rem;
    align-items: flex-end;

    .down-footer {
        justify-content: space-between;
        align-items: center;
        background-color: var(--ds-down-foot);
        width: 80%;
        height: 2rem;
    }

    .down-logo {
        background-color: var(--ds-down-logo);
        padding: 0.1rem;
    }

    .down-btn {
        background-color: var(--ds-down-btn);
        padding: 0.1rem;
    }

}