* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ds-header-bg: cyan;
    --ds-header-up: orange;
    --ds-jumbotron-bg: blue;
    --ds-in-jubmbo-bg: pink;
    --ds-invite-bg: white;
    --ds-in-invite1: cyan;
    --ds-in-invite2: pink;
}

body,
html {
    width: 100%;
}

.d-flex {
    display: flex;
}


header {
    background-color: var(--ds-header-bg);
    justify-content: center;
    padding: 1rem;


    .navbar {
        justify-content: space-between;
        align-items: center;
        background-color: var(--ds-header-up);
        padding: 0.2rem 1rem;

    }



    .nav-links {
        list-style: none;
        padding: 0.2rem;
    }



    .nav-links,
    a {
        text-decoration: none;
        padding: 0.2rem;
    }
}


.jumbotron {
    background-color: var(--ds-jumbotron-bg);
    padding: 3rem 2rem;
    justify-content: center;
    min-height: 15rem;

    .in-jumbo {
        width: 80%;
        min-height: 1rem;
        background-color: var(--ds-in-jubmbo-bg);
        justify-content: center;
        align-items: center;
    }
}



.invite-only {
    background-color: var(--ds-invite-bg);
    padding: 1rem;
    justify-content: center;
    min-height: 15rem;

    .in-invite {
        width: 80%;

    }

    .in-invite1 {
        flex-grow: 2;
        min-height: 10rem;
        background-color: var(--ds-in-invite1);
        justify-content: center;
        align-items: center;
    }

    .in-invite2 {
        background-color: var(--ds-in-invite2);
        min-height: 10rem;
        flex-grow: 1;
    }

}